@use './abstract/variables';
@use './base/fonts';
@use './base/reset';
@use './layout/aside';
@use './layout/header';
@use './components/icon';

.app {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 70px 1fr;

  grid-template-areas:
  "sidebar header"
  "sidebar main";

  height: 100vh;
  background-color: variables.$bg-main;
}