@use "../abstract/variables";
nav.left-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; 
    li a {
        display:flex;
        align-items: center;
    }
}
.left-icons a {
  display: flex;
  align-items: center;
  gap: 20.1px;
}
.right-icons ul {
     list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;  
    gap: 22.33px;    
}
.left-icons a ,
.right-icons a  {
    transition: 0.2s ease;  
}
.left-icons a:hover  {
    filter: brightness(1.5); 
}
.right-icons {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
}
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px;
    background-color: variables.$bg-main;
}
nav.left-icons li{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    height: 54px;
    width: 210px;
    a{
        margin-left: 15px;
        margin-top: 6.79px;
        margin-bottom: 6.79px;
    }
}
.search{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    height: 54px;
    width: 350px;
    padding: 6px 12px; 
}
.active {
    background-color: #111111;
}